@import "../theme";
@import "~bourbon/core/bourbon";

.Search {
    height: $h-height;
    float: right;
    text-align: left;

    &__form {
        position: relative;
        width: $sch-width; height: $sch-height;
        float: left;
        margin-top: 10px;
    }

    &__input {
        display: block;
        width: 100%; height: $sch-height;
        box-sizing: border-box;
        border-radius: 21px;
        border: 1px solid $sch-border-color;
        background-color: $sch-bg-color;
        font-size: 12px;
        padding: 0 36px 0 12px;
        outline: none!important;
        line-height: calc(#{$sch-height} - 2px);
        transition: all $transition $transition-ease;

        &:focus {
            border: 2px solid $sch-border-color-1;
            background-color: $sch-bg-color-1;
            line-height: calc(#{$sch-height} - 4px);
        }
    }

    .icon {
        position: absolute;
        width: 36px; height: 36px;
        top: 0; right: 0;
        cursor: pointer;
        background-size: 20px 20px;
        background-position-x: 5px;
    }

    &__autocomplete {
        position: absolute;
        display: block;
        width: $ac-width;
        top: 100%; right: 0; left: auto;
        margin: 13px 0 0; padding: 5px 0;
        list-style: none;
        z-index: 900;
        background-clip: padding-box;
        background-color: $ac-bg-color;
        box-shadow: $ac-box-shadow;
        border-radius: 4px;
        @include clearfix;

        &::before {
            position: absolute;
            content: "";
            width: auto; height: auto;
            border: 9px solid transparent;
            border-bottom-color: $ac-bg-color;
            top: -18px; right: 17px;
            z-index: 900;
        }

        &::after {
            position: absolute;
            content: "";
            width: auto; height: auto;
            border: 10px solid transparent;
            border-bottom-color: rgba(0, 0, 0, .1);
            top: -20px; right: 16px;
            z-index: 800;
        }
    }
}

.CountryAutocomplete {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: $ac-bg-color-1;
    }

    .CountryItem {
        position: relative;
        padding: 7px 15px 6px 10px;
        margin: 0;
        @include clearfix;

        .CountryFlag {
            position: absolute;
            width: 32px; height: 32px;
            float: left;
            margin-right: 10px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
        }

        .CountryInfo {
            width: 100%; height: 32px;
            float: left;
        }

        .CountryName, .CountryCapital {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-left: 42px;
        }

        .CountryName {
            margin-top: 0;
            font-size: 14px;
            font-weight: bold;
            line-height: 15px;
            color: $ac-country-name-color;
        }
        
        .CountryCapital {
            font-size: 12px;
            line-height: 16px;
            color: $ac-country-capital-color;
        }
    }
}