html, body {
    height: 100%;
}

body {
    position: relative;
    overflow-y: scroll;
    background-color: $bg-color;

    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
        -webkit-font-smoothing: antialiased;
    }
}

.page {
    height: 100%;

    .container {
        position: relative;
        padding: calc(#{$h-height} + 10px) 15px;
        width: 100%; min-height: 0; min-width: $min-width;
        box-sizing: border-box;
        margin: 0 auto;
        @include clearfix;

        @include media-tablet-landscape-up {
            box-sizing: content-box;
            width: $width; min-width: 0;
        }

        @include media-desktop-up {
            width: $width-1;
        }
    }
}

.page-header {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    left: 0; right: 0; top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    z-index: 1000;
    @include clearfix;

    &-container {
        position: relative;
        width: 100%;
        background-color: $h-bg-color;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    .container {
        position: relative;
        width: 100%; height: $h-height; min-width: $min-width;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0 auto;

        @include media-tablet-landscape-up {
            width: $width; min-width: 0;
            padding: 0;
            box-sizing: content-box;
        }

        @include media-desktop-up {
            width: $width-1;
        }
    }

    .logo {
        width: 36px; height: 36px;
        background-size: 204px 36px;
        float: left;
        margin-top: 10px;

        @media (min-width: 480px) {
            width: 204px;
        }
    }
}

.logo {
    background-image: url("~logo.svg");
}

.content-30 {

    @include media-tablet-landscape-up {
        float: left;
        width: $content-30-width;
    }

    @include media-desktop-up {
        width: $content-30-width-1;
    }
}

.content-70 {
    
    @include media-tablet-landscape-up {
        float: right;
        width: $content-70-width;
    }

    @include media-desktop-up {
        width: $content-70-width-1;
    }
}

.content {
    position: relative;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.Exception {
    position: relative;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 36px;
    line-height: 112px;
    color: $error-color;
}