// Media Queries Point
$bp-phone-only: 599px;
$bp-tablet-portrait-up: 600px;
$bp-tablet-landscape-up: 900px;
$bp-desktop-up: 1200px;
$bp-big-desktop-up: 1800px;

// Common
$font-family: "Open Sans", Helvetica, Arial, sans-serif;
$color: #14171a;
$bg-color: #e1e8f0;
$width: 890px;
$width-1: 1190px;
$transition: 200ms;
$transition-ease: ease-in-out;
$content-30-width: 290px;
$content-30-width-1: 440px;
$content-70-width: 585px;
$content-70-width-1: 735px;

// Header
$h-height: 56px;
$h-bg-color: white;

// Search
$sch-width: 221px;
$sch-height: 36px;
$sch-border-color: #e6ecf0;
$sch-bg-color: #f5f8fa;
$sch-border-color-1: #786A55;
$sch-bg-color-1: white;

// Autocomplete
$ac-width: 316px;
$ac-bg-color: white;
$ac-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
$ac-country-name-color: #14171a;
$ac-country-capital-color: #657786;
$ac-bg-color-1: #F1F0EE;

// Country
$c-bg-color: white;
$c-map-height: 135px;
$c-map-bg-color: #f5f8fa;
$c-capital-color: $ac-country-capital-color;
$c-cshi-key-color: #657786;
$c-cshi-rb-color: #786A55;

// Weather
$w-bg-color: $c-bg-color;
$w-time-color: #657786;
$w-icon-fill: #786A55;
$w-degree-color: $w-time-color;