// Media Queries Point
$bp-phone-only: 599px;
$bp-tablet-portrait-up: 600px;
$bp-tablet-landscape-up: 900px;
$bp-desktop-up: 1200px;
$bp-big-desktop-up: 1800px;

// Common
$font-family: "Open Sans", Helvetica, Arial, sans-serif;
$color: #14171a;
$bg-color: #e1e8f0;
$width: 890px;
$width-1: 1190px;