doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        <% for (var link of htmlWebpackPlugin.options.links) { %>
        link(<% for (var attr in link) { %><%= attr %>="<%= link[attr] %>" <% } %>)<% } %>

        title #{title}
    body
        header.page-header
            div.page-header-container
                div.container
                    div.logo
                    div#search.Search
        div.page
            main.container
                div.content-30
                    div#country.content.CountryComponent
                    div#weather.content.WeatherComponent
                div.content-70