doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        <% for (var link of htmlWebpackPlugin.options.links) { %>
        link(<% for (var attr in link) { %><%= attr %>="<%= link[attr] %>" <% } %>)<% } %>

        title #{title}
    body
        header.page-header
            div.logo
        div.page
            main.container